.l-main
  position relative
  height 100vh
  background url('../images/bg/main-bg2.jpg') no-repeat
  background-attachment fixed 
  background-position center 10%
  background-size cover 
  +below(1200px)
    height auto
    background-position center
.b-main
  height inherit
  padding-top 73px
  +below(1200px)
    padding-top 43px
    
  &__left
    col(7/12)
    height 100%
    +below(1200px)
      stack()
  &__title
    margin-top 70px
    font-size 50px
    font-weight 300
    color #283172
    +below(1200px)
      margin-top 20px
      font-size 26px
      padding 0 15px
  &__description
    font-size 18px
    color #666666
    font-family 'GothamProRegular'
    font-weight normal
    line-height 28px
    +below(1200px)
      font-size 14px
      padding 0 15px
  &__right
    height calc(100% - 73px)
    position absolute
    top 72px
    right 1px
    col(5/12)
    width 41%
    +below(1200px)
      display none
  &__services-mobile
    display none
    
    +below(1200px)
      display block
.services-mobile
  
  +below(1200px)
    display block
    &__item
      height 120px
      width 100%
    &__link
      position relative
      display block
      width 100%
      height 100%
      top 0
      right 0
      border 1px solid #67beca
      background rgba(255, 255, 255, .8)
      overflow hidden
      transition  right .4s ease,
                top .4s ease,
                height .4s ease,
                right .4s ease,
                background .4s ease
      &:hover       
        overflow hidden
        background #fff
        transition background .4s ease,
                   width .4s ease,
                   top .4s ease,
                   height .4s ease,
                   right .4s ease
        & .services-mobile__title
          color #283172
          transition all 0.6s ease
        & .services-mobile__icon
          background url('../images/icon/icon-playh.png') no-repeat center
          transition all 0.6s ease
    &__bg
      height 52%
      width 100%
      position absolute
      top -100%
      left 0
      background-size cover
      background-repeat no-repeat
      background-position center
      transition all .5s
      &.__1
        background-image url('../images/services/cell1.jpg') 
      &.__2
        background-image url('../images/services/cell2_s.jpg')
      &.__3
        background-image url('../images/services/cell3_s.jpg')
      &.__4
        background-image url('../images/services/cell4_s.jpg')
      &.__5
        background-image url('../images/services/cell5_s.jpg')
    
    &__info
      position absolute
      padding-left 15px
      // margin-bottom 15px
      bottom 0
    &__title
      font-family 'bitter'
      font-size 18px    
      margin-bottom 15px
      color #283172
    &__details
      margin-bottom 20px
    &__icon
      display inline-block
      background url('../images/icon/icon-play.png') no-repeat center
      width 25px
      height 25px
      vertical-align middle
      transition all 0.6s ease
    &__detail
      display inline-block
      vertical-align middle
      color #55dad2
      font-size 14px
      padding-left 10px
      transition all 0.6s ease
  

.services
  &__item
    width 100%
    height calc(33% + 2px)
    position relative
    &.__col
      span(1/2)
    
  &__link
    position absolute
    display block
    width calc(100% + 1px)
    height calc(100% + 1px)
    top 0
    right -1px
    border 1px solid #67beca
    background rgba(255, 255, 255, .8)
    overflow hidden
    transition  right .8s ease,
              top .8s ease,
              width .8s ease,
              height .8s ease,
              right .8s ease,
              background .8s ease
    &:hover 
      position absolute
      z-index 101
      top 0
      right -1px
      width calc(100% + 33px)
      height calc(100% + 33px)
      overflow hidden
      background #fff
      
      transition background .8s ease,
                 width 1s ease,
                 top .6s ease,
                 height .8s ease,
                 right .8s ease
      & .services__bg
        height 52%
        width 100%
        position absolute
        top 0
        left 0
        transition all .8s
      & .services__title
        color #283172
        transition all 0.6s ease
      & .services__icon
        background url('../images/icon/icon-playh.png') no-repeat center
        transition all 0.6s ease
  &__bg
    height 52%
    width 100%
    position absolute
    top -100%
    left 0
    background-size cover
    background-repeat no-repeat
    background-position center
    transition all 1.2s ease-out
    &.__1
      background-image url('../images/services/cell1.jpg') 
    &.__2
      background-image url('../images/services/cell2_s.jpg')
    &.__3
      background-image url('../images/services/cell3_s.jpg')
    &.__4
      background-image url('../images/services/cell4_s.jpg')
    &.__5
      background-image url('../images/services/cell5_s.jpg')
  
  &__info
    position absolute
    padding-left 15px
    // margin-bottom 15px
    bottom 0
  &__title
    font-size 18px 
    font-family 'bitter'       
    margin-bottom 15px
    color #283172
  &__details
    margin-bottom 20px
  &__icon
    display inline-block
    background url('../images/icon/icon-play.png') no-repeat center
    width 25px
    height 25px
    vertical-align middle
    transition all 0.6s ease
  &__detail
    display inline-block
    vertical-align middle
    color #55dad2
    font-size 14px
    padding-left 10px
    transition all 0.6s ease
  
 

  
      


    
      
    